<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worldkey.mapper.SensitiveWordMapper" >
  <resultMap id="BaseResultMap" type="com.worldkey.entity.SensitiveWord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, word, is_Word
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sensitive_word
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sensitive_word
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.worldkey.entity.SensitiveWord" >
    insert into sensitive_word (id, word, is_word)
    values (#{id,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{isWord,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.worldkey.entity.SensitiveWord" >
    insert into sensitive_word
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="isWord != null" >
        is_word,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="isWord != null" >
        #{isWord,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.worldkey.entity.SensitiveWord" >
    update sensitive_word
    <set >
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="isWord != null" >
        is_word = #{isWord,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.worldkey.entity.SensitiveWord" >
    update sensitive_word
    set word = #{word,jdbcType=VARCHAR},
      is_word = #{isWord,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>